.game_image {
    width: 400px;
    border: 5px rgb(14, 76, 76) solid;
    display: flex;
    justify-self: center;
}
h2 {
    font-family:'Gill Sans';
    text-align: center;
}
#hello{
    color:magenta;
}
body {
    background-color: bisque ;
    text-align: center;

}
.HTW{
    display: flex;
    gap: 6px;
    justify-content: center;
}